html, body {
  margin: 0;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}
.popup {
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  text-align: center;
}
.red {
  color: red;
}
.green {
  color: green;
}
.white {
  color: white
}