@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}
.popup {
  background-color: #fff;
  padding: 0 0 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  text-align: center;
  pointer-events: none;
  display: none;
  position: absolute;
  width: auto;
  width: 300px;
  height: 240px;
  border-bottom: 5px solid #18758D;

  &__arrow {
    position: absolute;
    bottom: -22px;
    left: 20px;

    &.bottom-right {
      left: initial;
      right: 40px;
    }
    &.top-left {
      left: 20px;
      bottom: initial;
      top: 0;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #18758D;
        transform: rotate(180deg);
      }
    }
    &.top-right {
      right: 40px;
      left: initial;
      bottom: initial;
      top: 0;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #18758D;
        transform: rotate(180deg);
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid #18758D;
    }
  }
  &__title {
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
    background-color: #18758D;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &__info {
    padding: 0 15px;

    &__people {
      @extend .font-size;
      color: #17768c;
    }
  }
}
.font-size {
  font-size: 20px;
}
.red {
  @extend .font-size;
  color: #FF1F25;
}
.green {
  @extend .font-size;
  color: #28B771;
}
.white {
  @extend .font-size;
  color: white
}
.black {
  @extend .font-size;
  color: black;
}
#color-switcher {
  position: absolute;
  top: 30px;
  right: 30px;
}
.header {
  box-shadow: 0 3px 8px rgba(0,0,0,.2);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 5px 15px;
  pointer-events: none;

  &__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  &__legend {
    display: flex;
    font-size: 0.9em;

    .ramp {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 .8em
    }
    .ramp__gradient {
      height: .7em;
      width: 80%;
      background: linear-gradient(to right, #0f7785 0%, #8fd7d2 49%, rgb(0, 0, 0) 50%, #eb9878 51%, #96210e 100%);
    }
    .ramp__ticks {
      letter-spacing: normal;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: center;
      line-height: 1em
    }
    .negative-value, .positive-value {
      text-shadow: 0 0 3px rgba(0,0,0,.5);
    }
    .negative-value {
      color: #0f7785
    }
    .positive-value {
      color: #96210e
    }
  }
}